 body {
   background-color: #9549BB;
  font-family: Arial;
  color: white;


 }
ul {
 justify-content: space-between;
 padding: 20px;
}
.sobre:hover  {
font-size: 20px;
 
}
.projetos:hover {
 font-size: 20px;
 
}
