 body {
   background-color: #9549BB;
  font-family: Arial;
  color: white;


 }
ul {
 justify-content: space-between;
 padding: 20px;
}
.sobre:hover  {
 color: white;
transition: transform 1s;
  transform: translateX(0) scale(0.5);
font-size: 20px;
 
}
.projetos:hover {
 transition: transform 1s;
  transform: translateX(0) scale(0.5);
 color: white;
 font-size: 20px;
 
}
