body {
  background-color: yellow;
  font-family: arial;
}


.titu {
  align-text: center;
  background-color: #BF40BF;
  color: #E6E6FA;
}
.ocs {
  padding: 120px;
  background-color: purple;
  color: white;
}
